@import "tailwindcss";

@theme {
  --color-dark-bg: #14161b;
  --color-button-yellow: #F1CC06;
  --color-button-yellow-hover: #f1b206;
}
@font-face {
  font-family: display;
  font-style: normal;
  font-display: swap;
  src: url("./sf-pro-display/SFPRODISPLAYMEDIUM.OTF") format("woff2");

  font-family: displayR;
  font-style: normal;
  font-display: swap;
  src: url("./sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("woff2");
}

@theme {
  --font-display: "display", "sans-serif";
  --font-displayR: "displayR", "sans-serif";
}