@import "tailwindcss";

@theme {
  --color-dark-bg: #14161b;
  --color-button-yellow: #F1CC06;
  --color-button-yellow-hover: #f1b206;
}
@font-face {
  font-family: sf_R;
  font-style: normal;
  font-display: swap;
  src: url("./sf-pro-display/SF_REGULAR.OTF") format("woff2");

  font-family: sf_B;
  font-style: normal;
  font-display: swap;
  src: url("./sf-pro-display/SF_BOLD.OTF") format("woff2");
}

@theme {
  --font-sf_R: "sf_R", "sans-serif";
  --font-sf_B: "sf_B", "sans-serif";
}